<body>
<h1>Books</h1>
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th colspan = "3"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>リーダブルコード</td>
			<td>より良いコードを書くためのシンプルで実践的なテクニック</td>
			<td><a class="show" href="">Show</a></td>
			<td><a class="edit" href="">Edit</a></td>
			<td><a class="destroy">Destroy</a></td>
		</tr>
	</tbody>
</table>
<h3>New book</h3>
	<!-- form_for -->
	<%= form_for(@book) do |f| %>
	 <h5>Title</h5>
	 <%= f.text_field :title %>
	 <h5>Body</h5>
	 <%= f.text_area :body %>
	 <br>
	 <br>
	 <%= f.submit 'Create Book' %>
	<% end %>

















</body>